<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228799456608-6uiadii93jm90irnd7c1pjl4ubrbp2mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228799456608-6uiadii93jm90irnd7c1pjl4ubrbp2mh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>228799456608-5tq9b6g2p2gju11mb7thtgsbgiu0a2as.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlLqiQCGW6ffuAYpDioOgLEEtJSd9qEVg</string>
	<key>GCM_SENDER_ID</key>
	<string>228799456608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterchatapp</string>
	<key>PROJECT_ID</key>
	<string>telugu-chatting-app-143</string>
	<key>STORAGE_BUCKET</key>
	<string>telugu-chatting-app-143.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228799456608:ios:cdfb5048b1a9ae824c6a05</string>
</dict>
</plist>